:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0 auto;
  }
  
  .container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-default);
    min-height: 100vh;
  }
  
  p {
    margin-bottom: 0;
    padding: 0.5vw;
  }
  
  img {
    padding-right: 1rem;
  }
  
  main {
    font-size: 130%;
    font-weight: bolder;
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1px 20px 15px;
    border-radius: 2rem;
    text-align: justify;
  }
  