#myTopnav {
    overflow: hidden;
    margin: 3.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.header__logo {
  width: 20%;
  }

.header__logo img {
  max-width: 9rem;
}

#nav-list-desktop {
  display: flex;
  min-width: 60vw;
  justify-content: right;
  align-items: center;
}
  
#nav-list {
  display: none;
}

.header a {
  margin: auto;
  display: block;
  color: #000000;
  text-align: center;
  margin: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  margin-left: 1rem;
  padding: 10px;
}
  
  /* phone and desktop version */
  .header__nav a:active {
    border-radius: 10px;
    background-color: #ff0000;
    color: white;
    padding: 10px;
  }
  
  .header__nav a.active {
    border-radius: 10px;
    background-color: #ff0000;
    color: white;
    padding: 10px;
  }
  
  /* class name header.header__logo - icon is invisible  */
  #myTopnav .icon {
    display: none;
  }
  
/*************** 
responsive 
****************/

/* smaller screens - header.header__logo icon is visible */
@media screen and (max-width: 768px) {
/* header.header__logo icon -> before clicked */
  .header__logo {
    width: 30%;
    width: 35%;
    margin-top: 5px;
  }

  #myTopnav a {
    display: none;
  }

  #myTopnav a.icon {
    display: block;
    font-size: 1.2rem;
    color: #ff0000;
    padding: 6px 7px 4px 7px;
    border-radius: 5px;
    position: fixed;
    right: 2%;
    top: 1%;
  }

  /* header.header__logo icon -> after clicked */
  #myTopnav.responsive {
    position: relative;
  }

  #myTopnav.responsive a {
    display: block;
    text-align: left;
    background-color: red;
  }

  #myTopnav.responsive a.icon {
    position: fixed;
    right: 3%;
    top: 1.5%;
    color: #fff;
    padding: 6px 7px 4px 7px;
    margin: 0;
  }

  /* navigation before icon is clicked */
  #nav-list-desktop, 
  #nav-list {
  display: none;
  }

  /* navigation after icon is clicked */
  #nav-list.responsive {
    display: flex;
    width: 100%;
    position: absolute;
    top: 3rem;
    background-color: #fff;
    z-index: 10;
    padding: 1.4rem;
    border-radius: 15px;
    flex-direction: column;
    gap: 5px;
    border: 2px #ff0000 solid;
    text-align: center;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }

  #nav-list.responsive a {
    color: #ff0000;
    text-decoration: none;
    padding: 10px;
  }

  #nav-list.responsive a:active {
    color: #fff;
  }

  #nav-list.responsive .active {
  color: #fff;
  }
}

@media screen and (max-width: 998px) {
    .header__logo a {
    font-size: 14px;
  }

  .header a {
    font-size: 13px;
  }
}