.hero {
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
    height: 40rem;
  }
.hero__content {
    justify-content: space-evenly;
    padding: 60px 67px;
    background: #232323;
    color: #fff;
    position: relative;
    text-align: left;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .hero__content > * {
    position: relative;
    z-index: 1;
  }
  .hero__headline {
    font-size: 6rem;
    font-weight: 900;
    white-space: nowrap;
  }
  .hero__text {
    width: 110%;
    font-weight: normal;
    padding: 0;
  }
  .hero__btn-signup {
    outline: none;
    text-transform: capitalize;
    font-size: 1rem;
    padding: 15px 23px;
    margin: 0;
    width: fit-content;
  }
  .hero__img {
    width: 100%;
  }
  
  .hero__img img {
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .hero > .hero__btn-signup {
    display: none;
  }
  
  @media (max-width: 998px) {
        .hero__content {
            position: absolute;
            /* top: 17rem; */
            /* height: 41rem; */
            justify-content: center;
            background: none;
        }

        .hero__content::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            right: -80px;
            top: 0;
        }

        .hero__headline {
            font-size: 4rem;
        }
        .hero__text,
        .hero__btn-signup {
            margin-top: 3rem;
        }
  }

/* phone & tablette */
@media screen and (max-width: 768px) {
    .hero {
      display: block;
      box-shadow: unset;
      height: 100%;
    }
    .hero__content {
        padding: 0;
        background: none;
        top: 0;
        position: relative;
        /* height: 18rem; */
        width: 100%;
        gap: 0;
    }
    .hero__content::after {
      content: unset;
    }
    .hero__content .hero__btn-signup {
      display: none;
    }
    .hero__headline {
      font-size: 2.5rem;
      white-space: normal;
      color: #232323;
    }
    .hero__text {
      width: unset;
      font-size: 14px;
      color: #232323;
      margin-top: 1rem;
    }
    .hero__img img {
      border-radius: 10px;
      margin-top: 0.5rem;
    }
    .hero > .hero__btn-signup {
      display: block;
      margin: 32px auto 10px;
      padding: 12px 35px;
      font-size: 1rem;
    }

}