.topnav {
    overflow: hidden;
    margin: 3.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-logo {
  width: 15%;
  }
  
  .header-logo img {
    width: 100%;
  }
  
  .header-nav {
   display: flex;
   min-width: 60vw;
   justify-content: right;
   align-items: center;
  }
  
  .main-navbar .fa-bars {
    /* font-size: 1.2rem;
    color: #ff0000; */
  }
  
  .topnav a {
    margin: auto;
    display: block;
    color: #000000;
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
  }
  
  .header-nav a:hover {
    border-radius: 15px;
  }
  
  .header-nav a.active {
    border-radius: 15px;
    background-color: #ff0000;
    color: white;
  }
  
  /* class name topnav - icon is invisible  */
  .topnav .icon,
  .header-nav {
    display: none;
  }
  
  /* smaller screens - icon is visible */
  @media screen and (max-width: 768px) {
    .topnav a {display: none;}
    .topnav a.icon {
        display: block;
        font-size: 1.2rem;
        color: #ff0000;
    }
  }
  
  @media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
    }
    .topnav.responsive a {
        display: block;
        /* position: absolute; */
        text-align: left;
        background-color: red;
        /* display: flex; */
        /* flex-direction: column; */
        /* top: 4rem; */
    }
    .header-nav.responsive {
      display: block;
      height: 300px;
      width: 100%;
      position: absolute;
      top: 4rem;
      background-color: #fff;
      right: 0;
      z-index: 10;
      padding: 2rem;
      border-radius: 15px;
    }

    .header-nav.responsive a {
      display: block;
      color: #ff0000;
    }
    .header-nav.responsive .active {
      color: #fff;
    }
  }
  
   @media screen and (max-width: 540px) {
    .topnav {
      height: 3rem;
    }
    .topnav a {display: none;}
    .topnav a.icon {
      display: block;
    }
  } 

  @media screen and (max-width: 800px) {
    .header-logo {
      width: 100%;
      }
    .header-logo img {
      width: 8rem;
      padding: 0;
    }
  }

  @media (max-width: 998px) {
    .topnav a {

    font-size: 14px;}}